@model hibicusWeb.Usuario

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<b><h3>¿Estás seguro que quieres eliminar este usuario?</h3></b>
<div>
   
    <hr />
    <dl class="dl-horizontal">
         <dt>
           <b>Nombre</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            <b>Primer apellido</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellido1)
        </dd>

        <dt>
            <b>Segundo apellido</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellido2)
        </dd>

        <dt>
           <b>Cedula</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cedula_Usuario)
        </dd>

        <dt>
            <b>Correo electronico</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.correo)
        </dd>

        <dt>
            <b>Contraseña</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contrasennia)
        </dd>

        <dt>
             <b>Telefono</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

        <dt>
            <b>Genero</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genero.Genero1)
        </dd>

        <dt>
             <b>Rol</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rol_Usuario.tipo_Rol)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sí, eliminar" class="btn btn-danger" /> 
           <a class="btn btn-info" href="@Url.Action("Index")">Volver atras</a>
        </div>
    }
</div>
