@model hibicusWeb.Usuario

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles de usuario</h2>

<div class="row">
    <table class="table table-striped card" style="border-radius: 8px;">
        <tr>
            <th>
                <h4>Rol:</h4>
            </th>
            <td>
                <h4> @Html.DisplayFor(model => model.Rol_Usuario.tipo_Rol)</h4>
            </td>
        </tr>
        <tr>
            <th>
                <h4>Nombre:</h4>
            </th>
            <td>
                <h4> @Html.DisplayFor(model => model.nombre)</h4>
            </td>
        </tr>
        <tr>
            <th>
                <h4>Primer Apellido:</h4>
            </th>
            <td>
                <h4> @Html.DisplayFor(model => model.apellido1)</h4>
            </td>
        </tr>
        <tr>
            <th>
                <h4>Segundo Apellido:</h4>
            </th>
            <td>
                <h4> @Html.DisplayFor(model => model.apellido2)</h4>
            </td>
        </tr>
        <tr>
            <th>
                <h4>Cédula</h4>
            </th>
            <td>
                <h4> @Html.DisplayFor(model => model.cedula_Usuario)</h4>
            </td>
        </tr>
        <tr>
            <th>
                <h4>Correo:</h4>
            </th>
            <td>
                <h4> @Html.DisplayFor(model => model.correo)</h4>
            </td>
        </tr>
        <tr>
            <th>
                <h4>Teléfono:</h4>
            </th>
            <td>
                <h4> @Html.DisplayFor(model => model.telefono)</h4>
            </td>
        </tr>
        <tr>
            <th>
                <h4>Genero:</h4>
            </th>
            <td>
                <h4> @Html.DisplayFor(model => model.Genero.Genero1)</h4>
            </td>
        </tr>



    </table>
</div>
<p>
    <a class="btn btn-warning btn-sm" href="@Url.Action("Edit", new { id = item.id_Usuario })">Editar</a>
    <a class="btn btn-info" href="@Url.Action("Index")">Volver atras</a>
</p>
