@model hibicusWeb.Usuario

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           <b>Nombre</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            <b>Primer apellido</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellido1)
        </dd>

        <dt>
            <b>Segundo apellido</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellido2)
        </dd>

        <dt>
           <b>Cedula</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cedula_Usuario)
        </dd>

        <dt>
            <b>Correo electronico</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.correo)
        </dd>

        <dt>
            <b>Contraseña</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contrasennia)
        </dd>

        <dt>
             <b>Telefono</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

        <dt>
            <b>Genero</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genero.Genero1)
        </dd>

        <dt>
             <b>Rol</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rol_Usuario.tipo_Rol)
        </dd>

    </dl>
</div>
<p>
    <a class="btn btn-danger" href="@Url.Action("Edit", "Usuarios", new { id = Model.id_Usuario })">Editar</a> 
    <a class="btn btn-info" href="@Url.Action("Index")">Volver atras</a>
</p>
