@model IEnumerable<hibicusWeb.Usuario>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Usuario</h2>

@*Hacer columnas mas grandes???*@
<div style="margin-bottom: 15px;">
    <a href="@Url.Action("Create")" class="btn btn-primary">Crear Usuario</a>
</div>
<table class="table table-hover">
    <tr>
        <th>
            Nombre
        </th>
        <th>
            Primer Apellido
        </th>
        <th>
            Segundo Apellido
        </th>
        <th>
            Cédula
        </th>
        <th>
            Correo
        </th>
        <th>
            Contraseña
        </th>
        <th>
            Teléfono
        </th>
        <th>
            Genero
        </th>
        <th>
            Role
        </th>
        <th style="width: 15px;">
            Acciones
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.apellido1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.apellido2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cedula_Usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.contrasennia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genero.Genero1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rol_Usuario.tipo_Rol)
            </td>


            <td>
                <a class="btn btn-info btn-sm" href="@Url.Action("Details", new { id = item.id_Usuario })">Detalles</a>
            </td>
            <td>
                <a class="btn btn-warning btn-sm" href="@Url.Action("Edit", new { id = item.id_Usuario })">Editar</a>
            </td>
            <td>
                <a class="btn btn-danger btn-sm" href="@Url.Action("Delete", new { id = item.id_Usuario })">Eliminar</a>
            </td>
        </tr>
    }
</table>
