@model IEnumerable<webHibiscus.Resennia>



@{
    ViewBag.Title = "Menú de reseñas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*Porbar modal de Bootsstrap para agregar comments y JQUERY para puntuacion en estrellas*@
<h2>Menú de reseñas</h2>
<div class="" style="margin-bottom: 15px;">
<a class="btn btn-primary btn-small" href="@Url.Action("Create")">Crear Usuario</a>
</div>

@foreach (var item in Model)
{

    <div class="card container-fluid" style="background-color:white">

        <div class="container-fluid">
            <h4>
                <b>@Html.DisplayFor(modelItem => item.AspNetUser.nombre)</b>
                <b>@Html.DisplayFor(modelItem => item.AspNetUser.apellido1)</b>
                -
                @Html.ValueFor(modelItem => item.fecha, "{0:dd/MM/yyyy}")
            </h4>

            @{

                int puntuacion = Convert.ToInt32(@Html.DisplayFor(modelItem => item.puntuacion).ToString());
                int idResennia = Convert.ToInt32(@Html.DisplayFor(modelItem => item.id_Resenia).ToString());

            }

            @*Sistema de rating*@

            <form>
                <fieldset class="starability-basic">

                    @for (int i = 1; i <= 5; i++)
                    {

                        if (i == item.puntuacion)
                        {

                            <input type="radio" name="rating" value="@i" checked />
                            <label title="Insatisfecho">@i Estrella</label>

                        }
                        else
                        {

                            <input type="radio" name="rating" value="@i" />
                            <label title="Insatisfecho">@i Estrella</label>

                        } //Fin del if.

                        //Fin del for.
                    }

                </fieldset>
            </form>

            @*Fin del sistema de rating.*@

            <p class="container-fluid" style="color:black;font-size:large">
                @Html.DisplayFor(modelItem => item.cotenido)
            </p>

            <br />

            <div class="container-fluid">

                <a class="btn btn-info btn-sm" href="@Url.Action("Details", new { id = item.id_Resenia })">Detalles</a>

                <a class="btn btn-warning btn-sm" href="@Url.Action("Edit", new { id = item.id_Resenia })">Editar</a>

                <a class="btn btn-danger btn-sm" href="@Url.Action("Delete", new { id = item.id_Resenia })">Eliminar</a>

            </div>
        </div>
    </div>
}
