@model hibicusWeb.Servicio

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="margin-bottom: 15px;">
    <b>
        <h2>Detalles del Servicio</h2>
    </b>
</div>
<div class="row">


    <table class="table card" style="border-radius: 8px;">

        <tr >
            <td>
                <b>
                    <h4>Descripción:</h4>
                </b>
            </td>
            <td>
              <h4>@Html.DisplayFor(model => model.descripcion)</h4> 
            </td>
        </tr>
        <tr>
            <td>
                <b>
                    <h4>Precio:</h4>
                </b>
            </td>
            <td>
               <h4>@Html.DisplayFor(model => model.precio)</h4> 
            </td>
        </tr>

        <tr>
            <td>
                <b>
                    <h4>Tipo de Servicio:</h4>
                </b>
            </td>
            <td>
               <h4> @Html.DisplayFor(model => model.Tipo_Servicio.descripcion)</h4>
            </td>
        </tr>
        

    </table>
</div>
        <div style="margin-top: 15px;">
            <p>
<tr>
           
                
                    <a class="btn btn-warning"
                        href="@Url.Action("Edit", "Servicio", new { id = Model.id_Servicio})">Editar</a>
              
     
                <a class="btn btn-info" href="@Url.Action("Index", "Servicio")">Volver a servicios</a>
            </p>
        </div>

    </div>
</div>
