@model IEnumerable<hibicusWeb.Servicio>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Servicios</h2>

<p>
    <a href="@Url.Action("Create")" class="btn btn-primary">Crear Servicio</a>
</p>

@foreach (var item in Model)
{
    @* Card *@
    <div class="card">
        <div class="add">
            <a class="btn btn-info btn-sm" href="@Url.Action("Details", new { id = item.id_Servicio })">Detalles</a>
        </div>

        <div class="container">
            <h4><b>@Html.DisplayFor(modelItem => item.Tipo_Servicio.descripcion)</b></h4>
            <p>@Html.DisplayFor(modelItem => item.descripcion)</p>
            <p>@Html.DisplayFor(modelItem => item.precio)</p>

            <a class="btn btn-warning btn-sm" href="@Url.Action("Edit", new { id = item.id_Servicio })">Editar</a>
            <a class="btn btn-danger btn-sm"   href="@Url.Action("Delete", new { id = item.id_Servicio })">Eliminar</a>
        </div>
    </div>
    <br />
    <br />
}
