@model IEnumerable<hibicusWeb.Servicio>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Servicios</h2>

<p>
    @Html.ActionLink("Agregar", "Create")
</p>

@foreach (var item in Model)
{
    @* Card *@
    <div class="card">
        <div class="add">
            <button class="btn btn-info">
                @Html.ActionLink("Detalles", "Details", new { id = item.id_Servicio })
            </button>
        </div>

        <div class="container">
            <h4><b>@Html.DisplayFor(modelItem => item.Tipo_Servicio.descripcion)</b></h4>
            <p>@Html.DisplayFor(modelItem => item.descripcion)</p>
            <p>@Html.DisplayFor(modelItem => item.precio)</p>

            <button class="btn btn-warning">
                @Html.ActionLink("Editar", "Edit", new { id = item.id_Servicio })
            </button>

            <button class="btn btn-danger">
                @Html.ActionLink("Eliminar", "Delete", new { id = item.id_Servicio })
            </button>
        </div>
    </div>
    <br />
    <br />
}
