@model webHibiscus.AspNetUser

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Esta seguro que desea eliminar el usuario: @Html.DisplayFor(model => model.UserName) ?</h2>


<div>
     <div class="row">

<div class="card table-responsive" style="border-radius: 8px;">
         <table class="table table-striped">
            <tr>
                <td>
                    <b>
                        <h4> Usuario </h4>
                    </b>
                </td>
                <td>
                    <h4>
                        @Html.DisplayFor(model => model.UserName)
                    </h4>
            </tr>
            <tr>
                <td>
                    <b>
                        <h4>Nombre</h4>
                    </b>
                </td>
                <td>
                    <h4>
                        @Html.DisplayFor(model => model.nombre)
                    </h4>
            </tr>
            <tr>
                <td>
                    <b>
                        <h4>Primer apellido</h4>
                    </b>
                </td>
                <td>
                    <h4>
                        @Html.DisplayFor(model => model.apellido1)
                    </h4>
                </td>
            </tr>
            <tr>
                <td>
                    <b>
                        <h4>Segundo apellido</h4>
                    </b>
                </td>
                <td>
                    <h4>
                        @Html.DisplayFor(model => model.apellido2)
                    </h4>
                </td>
            </tr>

            <tr>
                <td>
                    <b>
                        <h4>Cedula</h4>
                    </b>
                </td>
                <td>
                    <h4>
                        @Html.DisplayFor(model => model.cedula_Usuario)
                    </h4>
            <tr>
                <td>
                    <b>
                        <h4>Email</h4>
                    </b>
                </td>
                <td>
                    <h4>
                                @Html.DisplayFor(model => model.Email)
                    </h4>
                </td>
            </tr>
            <tr>
                <td>
                    <b>
                        <h4>Telefono</h4>
                    </b>
                </td>
                <td>
                    <h4>
                                @Html.DisplayFor(model => model.telefono)
                    </h4>
                </td>

            </tr>
            <tr>
                <td>
                    <b>
                        <h4>Genero</h4>
                    </b>
                </td>
                <td>
                    <h4>
                                @Html.DisplayFor(model => model.Genero.Genero1)
                    </h4>
                </td>
            </tr>
            <tr>
                <td>
                    <b>
                        <h4>Accesos erroneos</h4>
                    </b>
                </td>
                <td>
                    <h4>
                                @Html.DisplayFor(model => model.AccessFailedCount)
                    </h4>
                </td>
            </tr>
        </table>
    </div>
</div>
</div>

    @* <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailConfirmed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailConfirmed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PasswordHash)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PasswordHash)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SecurityStamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecurityStamp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumberConfirmed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumberConfirmed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TwoFactorEnabled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TwoFactorEnabled)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LockoutEndDateUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LockoutEndDateUtc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LockoutEnabled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LockoutEnabled)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccessFailedCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccessFailedCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellido1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellido1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellido2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellido2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cedula_Usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cedula_Usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genero.Genero1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genero.Genero1)
        </dd>

    </dl> *@

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
              <a href="@Url.Action("Index", "AspNetUsers")" class="btn btn-info">Volver atras</a>
            <input type="submit" value="Borrar" class="btn btn-danger" /> 
           
        </div>
    }
</div>
