@model hibicusWeb.Resennia

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Editar el Reseña: @Html.DisplayFor(model => model.Usuario.nombre) @Html.DisplayFor(model => model.Usuario.apellido1)</h2>

@*Dropdown o estrellas*@
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id_Resenia)

        <div class="form-group">
            @Html.LabelFor(model => model.id_Cliente, "ID del Cliente", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(Model => Model.id_Cliente, new { htmlAttributes = new { @class = "form-control", ReadOnly = true } })
                @Html.ValidationMessageFor(model => model.id_Cliente, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">

            @Html.LabelFor(model => model.id_Cliente, "Nombre del cliente", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Usuario.nombre, new { htmlAttributes = new { @class = "control-label col-md-2" } })
                @Html.DisplayFor(model => model.Usuario.apellido1, new { htmlAttributes = new { @class = "control-label col-md-2" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cotenido, "Contenido", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.cotenido, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.cotenido, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.puntuacion, "Puntuacion", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @{

                    int puntuacionActual = Convert.ToInt32(@Html.DisplayFor(Model => Model.puntuacion).ToString());

                }

                <form>
                    <fieldset class="starability-basic">

                        @if (puntuacionActual == 1)
                        {

                            <input type="radio" id="first-rate1" name="rating" value="1" checked onclick="obtenerValorPuntuacion()" />
                            <label for="first-rate1" title="Terrible">1 star</label>

                        }
                        else
                        {

                            <input type="radio" id="first-rate1" name="rating" value="1" onclick="obtenerValorPuntuacion()" />
                            <label for="first-rate1" title="Terrible">1 star</label>

                        }

                        @if (puntuacionActual == 2)
                        {

                            <input type="radio" id="first-rate2" name="rating" value="2" checked  onclick="obtenerValorPuntuacion()"/>
                            <label for="first-rate2" title="Not good">2 stars</label>

                        }
                        else
                        {
                            <input type="radio" id="first-rate2" name="rating" value="2"  onclick="obtenerValorPuntuacion()"/>
                            <label for="first-rate2" title="Not good">2 stars</label>

                        }

                        @if (puntuacionActual == 3)
                        {

                            <input type="radio" id="first-rate3" name="rating" value="3" checked onclick="obtenerValorPuntuacion()" />
                            <label for="first-rate3" title="Average">3 stars</label>

                        }
                        else
                        {

                            <input type="radio" id="first-rate3" name="rating" value="3" onclick="obtenerValorPuntuacion()" />
                            <label for="first-rate3" title="Average">3 stars</label>

                        }


                        @if (puntuacionActual == 4)
                        {


                            <input type="radio" id="first-rate4" name="rating" value="4" checked onclick="obtenerValorPuntuacion()" />
                            <label for="first-rate4" title="Very good">4 stars</label>

                        }
                        else
                        {

                            <input type="radio" id="first-rate4" name="rating" value="4" onclick="obtenerValorPuntuacion()" />
                            <label for="first-rate4" title="Very good">4 stars</label>

                        }


                        @if (puntuacionActual == 5)
                        {


                            <input type="radio" id="first-rate5" name="rating" value="5" checked onclick="obtenerValorPuntuacion()" />
                            <label for="first-rate5" title="Excellent">5 star</label>

                        }
                        else
                        {

                            <input type="radio" id="first-rate5" name="rating" value="5" onclick="obtenerValorPuntuacion()" />
                            <label for="first-rate5" title="Excellent">5 star</label>

                        }

                    </fieldset>

                    <script>

                        function obtenerValorPuntuacion() {

                            var elemento = document.getElementsByName("rating");

                            for (let iterador = 0; iterador < elemento.length; iterador++) {

                                if (elemento[iterador].checked) {

                                    alert(elemento[iterador].value);

                                } //Fin del if.

                            } //Fin del for.

                        } //Fin.

                    </script>

                </form>

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fecha, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fecha, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.fecha, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-success" />
            </div>
        </div>
    </div>

}

<div>
    <a class="btn btn-info" href="@Url.Action("Index")">Volver atras</a>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
