@model hibicusWeb.Resennia

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Resennia</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.id_Resenia)

    <div class="form-group">
        @Html.LabelFor(model => model.id_Cliente, "ID del Cliente", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(Model => Model.id_Cliente, new { htmlAttributes = new { @class = "form-control", ReadOnly = true } })
            @Html.ValidationMessageFor(model => model.id_Cliente, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">

        @Html.LabelFor(model => model.id_Cliente, "Nombre del cliente", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.Usuario.nombre, new { htmlAttributes = new { @class = "control-label col-md-2" } })
            @Html.DisplayFor(model => model.Usuario.apellido1, new { htmlAttributes = new { @class = "control-label col-md-2" } })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.cotenido,"Contenido", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.cotenido, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.cotenido, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.puntuacion,"Puntuacion",htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">

            @{

                int puntuacionActual = Convert.ToInt32(@Html.DisplayFor(Model => Model.puntuacion).ToString());

            }

            <form>
                <fieldset class="starability-basic">

                    @if (puntuacionActual == 1)
                    {

                        <input type="radio" id="first-rate1" name="rating" value="1" checked />
                        <label for="first-rate1" title="Terrible">1 star</label>
                        Model.puntuacion = 1;

                    }
                    else
                    {

                        <input type="radio" id="first-rate1" name="rating" value="1" />
                        <label for="first-rate1" title="Terrible">1 star</label>

                    }

                    @if (puntuacionActual == 2)
                    {

                        <input type="radio" id="first-rate2" name="rating" value="2" checked />
                        <label for="first-rate2" title="Not good">2 stars</label>
                        Model.puntuacion = 2;

                    }
                    else
                    {
                        <input type="radio" id="first-rate2" name="rating" value="2" />
                        <label for="first-rate2" title="Not good">2 stars</label>

                    }

                    @if (puntuacionActual == 3)
                    {

                        <input type="radio" id="first-rate3" name="rating" value="3" checked />
                        <label for="first-rate3" title="Average">3 stars</label>
                        Model.puntuacion = 3;

                    }
                    else
                    {

                        <input type="radio" id="first-rate3" name="rating" value="3" />
                        <label for="first-rate3" title="Average">3 stars</label>

                    }


                    @if (puntuacionActual == 4)
                    {


                        <input type="radio" id="first-rate4" name="rating" value="4" checked />
                        <label for="first-rate4" title="Very good">4 stars</label>
                        Model.puntuacion = 4;

                    }
                    else
                    {

                        <input type="radio" id="first-rate4" name="rating" value="4" />
                        <label for="first-rate4" title="Very good">4 stars</label>

                    }


                    @if (puntuacionActual == 5)
                    {


                        <input type="radio" id="first-rate5" name="rating" value="5" checked />
                        <label for="first-rate5" title="Amazing">5 stars</label>
                        Model.puntuacion = 5;


                    }
                    else
                    {
                        <input type="radio" id="first-rate5" name="rating" value="5" />
                        <label for="first-rate5" title="Amazing">5 stars</label>

                    }

                </fieldset>
            </form>

            @Html.EditorFor(model => model.puntuacion, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.puntuacion, "", new { @class = "text-danger" })

        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.fecha, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.fecha, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.fecha, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
