@model IEnumerable<webHibiscus.AspNetRole>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Roles</h2>

<p>
    <a class="btn btn-info" href="@Url.Action("Create")">Crear nuevo rol</a>

</p>
<div class="card table-responsive" style="border-radius: 8px;">
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th colspan=""></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a class="btn btn-info" href="@Url.Action("Details", new { id = item.Id })">Detalles</a>
          
                <a class="btn btn-warning" href="@Url.Action("Edit", new { id = item.Id })">Editar</a>
                
           
                <a class="btn btn-danger" href="@Url.Action("Delete", new { id = item.Id })">Eliminar</a>
                
            </td>
        </tr>
    }

</table>
