@model webHibiscus.Servicio

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<b><h2>¿Estás seguro de que queires eliminar el servicio de: @Html.DisplayFor(model => model.nombre) ?</h2></b>

<div>
    <hr />
   
    <table class="table table-striped card" style="border-radius: 8px;">
        <tr>
            <td>
                <b>
                    <h4>Descripción:</h4>
                </b>
            </td>
            <td>
                <h4>@Html.DisplayFor(model => model.descripcion)</h4>
            </td>
        </tr>
        <tr>
            <td>
                <b>
                    <h4>Precio:</h4>
                </b>
            </td>
            <td>
                <h4>@Html.DisplayFor(model => model.precio)</h4>
            </td>
        </tr>

        <tr>
            <td>
                <b>
                    <h4>Tipo de Servicio:</h4>
                </b>
            </td>
            <td>
                <h4> @Html.DisplayFor(model => model.nombre)</h4>
            </td>
        </tr>
    </table>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <a class="btn btn-success" href="@Url.Action("Index", "Servicio")">Cancelar</a>
            <input type="submit" value="Borrar" class="btn btn-danger" />

        </div>
    }
</div>
