@model hibicusWeb.Reserva

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>¿Estás seguro que quieres borrar esta reserva?</h2>


<div class="row">
   
    <hr />
      <table class="table table-striped card" style="border-radius: 8px;">
                <thead>
                    <tr>
                        <td>
                            <h4> Fecha y Hora</h4>
                        </td>
                        <td>
                            <h4> @Html.DisplayFor(model => model.fecha_Hora)</h4>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h4> CLiente</h4>
                        </td>
                        <td>
                            <h4> @Html.DisplayFor(model => model.Usuario.nombre)</h4>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h4>Empleado</h4>
                        </td>
                        <td>
                            <h4> @Html.DisplayFor(model => model.Usuario1.nombre)</h4>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h4>Servicio</h4>
                        </td>
                        <td>
                            <h4>  @Html.DisplayFor(model => model.Servicio.descripcion)</h4>
                        </td>
                </thead>
        </table>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Si, eliminar" class="btn btn-danger" /> 
            
            <a href="@Url.Action("Index", "Reserva")" class="btn btn-success">Cancelar</a>
        </div>
    }
</div>
