@model hibicusWeb.Reserva

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles de Reserva</h2>

<div class="row">

        <table class="table table-striped card" style="border-radius: 8px;">
                <thead>
                    <tr>
                        <td>
                            <h4> Fecha y Hora</h4>
                        </td>
                        <td>
                            <h4> @Html.DisplayFor(model => model.fecha_Hora)</h4>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h4> CLiente</h4>
                        </td>
                        <td>
                            <h4> @Html.DisplayFor(model => model.Usuario.nombre)</h4>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h4>Empleado</h4>
                        </td>
                        <td>
                            <h4> @Html.DisplayFor(model => model.Usuario1.nombre)</h4>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h4>Servicio</h4>
                        </td>
                        <td>
                            <h4>  @Html.DisplayFor(model => model.Servicio.descripcion)</h4>
                        </td>
                </thead>
        </table>
    <hr />
    <div class="row">
        <div class="col-md-12">
              <a class="btn btn-warning"href="@Url.Action("Edit", new { id = Model.id_Reserva})">Editar</a>
            <a href="@Url.Action("Index", "Reserva")" class="btn btn-primary">Volver</a>
        </div>
</div>

  
   

