@model IEnumerable<hibicusWeb.Reserva>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fecha_Hora)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario1.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Servicio.descripcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_Hora)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario1.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Servicio.descripcion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_Reserva }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_Reserva }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_Reserva })
        </td>
    </tr>
}

</table>
