@model webHibiscus.Reserva

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>¿Seguro que quieres eliminar la reserva de:  @Html.DisplayFor(model => model.AspNetUser.nombre)  @Html.DisplayFor(model => model.AspNetUser.apellido1)  @Html.DisplayFor(model => model.AspNetUser.apellido2)</h2>


<div>
   <div class="card table-responsive" style="border-radius: 8px;">
        <table class="table table-striped">
          
                <tr>
                    <th>
                        <h4>
                            <b>
                                Fecha de reserva
                            </b>
                        </h4>
                    </th>
                    <th>
                        <h4>
                            @Html.DisplayFor(model => model.fecha_Hora)
                        </h4>
                    </th>
                </tr>
                <tr>
                    <th>
                        <h4>
                            <b>
                                Cliente
                            </b>
                        </h4>
                    </th>
                    <th>
                        <h4>
                            @Html.DisplayFor(model => model.AspNetUser.nombre)  @Html.DisplayFor(model => model.AspNetUser.apellido1)  @Html.DisplayFor(model => model.AspNetUser.apellido2)
                        </h4>
                    </th>
                </tr>
                <tr>
                    <th>
                        <h4>
                            <b>
                                Empleado
                            </b>
                        </h4>
                    </th>
                    <th>
                        <h4>
                             @Html.DisplayFor(model => model.AspNetUser1.nombre)  @Html.DisplayFor(model => model.AspNetUser1.apellido1)  @Html.DisplayFor(model => model.AspNetUser1.apellido2)
                        </h4>
                    </th>
                </tr>
                <tr>
                    <th>
                        <h4>
                            <b>
                                Servicio
                            </b>
                        </h4>
                    </th>
                    <th>
                        <h4>
                            @Html.DisplayFor(model => model.Servicio.nombre)
                        </h4>
                    </th>
                </tr>
           
        </table>
    </div>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <a class="btn btn-info" href="@Url.Action("Index", "Reserva")" class="btn btn-default">Cancelar</a>
            <input type="submit" value="Borrar" class="btn btn-danger" /> 
            
        </div>
    }
</div>
