@model IEnumerable<webHibiscus.Reserva>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reservas</h2>

<p>

    <a class="btn btn-info" href="@Url.Action("Create")">Crear reserva</a>

</p>
<div class="card table-responsive" style="border-radius: 8px;">
    <table class="table table-striped">

        <tr>
            <th>
                Fecha de cita
            </th>
            <th>
                Cliente
            </th>
            <th>
                Empleado
            </th>
            <th>
                Nombre del servicio
            </th>
            <th colspan="3" style="text-align: center;">Acciones</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ValueFor(modelItem => item.fecha_Hora, "{0:dd/MM/yyyy}")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AspNetUser.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AspNetUser1.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Servicio.nombre)
                </td>
                <td>
                    <a class="btn btn-info" href="@Url.Action("Details", new { id = item.id_Reserva })">Detalles</a>
                   
                </td>
                <td>
                    <a class="btn btn-warning" href="@Url.Action("Edit", new { id = item.id_Reserva })">Editar</a>
                </td>
                    
                <td>
                    <a class="btn btn-danger" href="@Url.Action("Delete", new { id = item.id_Reserva })">Eliminar</a>
                </td>
            </tr>
        }

    </table>
</div>
